* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
     --primary-color: #2a607c;
     --secondary-color:#d9dcd6;
     --third-color: #2099b8;
}

body {
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Header styling start */
header {
    padding: 20px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
  }

header h1 {
    display: inline; /* changed to inline from inline block */
    font-size: 48px;
    font-weight:bold; /* added both font-weight and margin thinking it would move things in and maybe the nav section would pull up but hasn't */
    margin: 0;
}

header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
  }
  
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
 
/* Header styling end */
.banner {
    height: 500px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pittsburgh-skyline2.jpg");
    background-size: cover;
    background-position: center;
}

.banner-span {
    text-align: right;
    background-color:var(--third-color);
    position: absolute;
    color: var(--secondary-color);
}

main {
    width: 80%;
    /* center on page using auto for left/right */
    margin: 50px auto;
    /* add padding so html inside has space */
    padding: 20px;
    background-color:var(--secondary-color);
}

main div div:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

main h2 {
    color: var(--third-color);
    /* set padding to 0 top, 10 right and left, and 20 bottom */
    padding: 0 10px 20px;
  }

.text-to-the-right {
    text-align:right;
}

  /* flex parent */
.flex-container {
    /* create flexbox */
    display: flex;
    /* instruct it to break onto next line if it runs out of space */
    flex-wrap: wrap;
    /* put all unused space between items */
    justify-content: space-between;
    width: 100%;
  }

  /* flex child */

  .flex-item {
    /* make each one 45%, putting 10% between each element on the page */
    width: 45%;
    border: 4px solid var(--third-color);
    background-color: #393b4f;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-size: cover;
    padding: 20px 0;
    background-position: center;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    max-height:150px;
  }  

  
  .flex-item span {
    /* pushes element to bottom of flex item */
    margin-top: auto;
    width: 100%;
    background-color: #2099b8;
    color: #393b4f;
  }
  
.projects {
    border: 4px solid;
    padding: 5px;
    margin: 5px;
    min-height:150px;
    max-height:150px;

}

section {
    display:flex;
}

section div {
    flex: 0 0 75%;
}
/* work box stylings start */
.horiseon {
    background-image: url("../images/social-media-marketing.jpg");
    background-size: cover;
}

.bingeBucket {
    background-image: url("../images/book-store.jpg");
    background-size: cover;
}

.movieNight {
    background-image: url("../images/Movie-Night.jpg");
    background-size: cover;
}

.passwordGen {
    background-image: url("../images/passwordGen.jpg");
    background-size: cover;
}

.run-buddy {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
}

header h1 {
    background-color: var(--third-color);
}
/* work box stylings end */
/* footer styling start */
footer {
    background: var(--secondary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
  }
  
  footer a {
    color: var(--primary-color);
  }

  footer nav {
    margin: 7px 0;
  }

  footer nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  footer nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* footer styling end */